/*
COLORS
#131fa4
#913d88
#481ee1
#5f3193
*/

/* Header ----------------------------------------- */
.Header {
  height: 10vh;
  background-image: linear-gradient(155deg, #131fa4, #913d88);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: #ffffff;
}

.Header h1 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 2.8rem;
}

.Header a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Menu Bar --------------------------------------- */
.MenuBar {
  background-image: linear-gradient(155deg, #131fa4, #913d88);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.MenuBar svg {
  width: 32px;
  height: 32px;
}

.MenuBar svg path {
  fill: #ffffff;
}
/* TODO nav active (maybe a round white border) */

/* Auth Form --------------------------------------- */
.Auth .auth-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Auth h3 {
  margin: 10px 0;
}

.Auth .form-control input {
  font-size: 1rem;
  width: 85%;
  height: 30px;
  margin: 0 auto 10px;
  padding: 5px 10px;
  border: 0;
  border-bottom: 2px solid #333333;
  text-align: center;
}

.Auth .form-actions {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 80%;
  margin: 0 auto;
}
.Auth .form-actions small {
  margin: 8px;
}

.Auth .form-actions button {
  width: 90%;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.Auth .submit-btn {
  border: 0;
  background-image: linear-gradient(155deg, #131fa4, #913d88);
  color: #ffffff;
  letter-spacing: 1px;
  padding: 12px 0;
}

.Auth .switch-btn {
  margin-top: 15px;
  border: 2px solid #5f3193;
  color: #5f3193;
  padding: 10px 0;
}

/* Event Card --------------------------------------- */
.EventCard {
  border-radius: 6px;
  background-image: linear-gradient(155deg, #131fa4, #913d88 50%);
  padding: 5px;
  margin-bottom: 0.8rem;
}

.EventCard .card-inner {
  background: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0 10px;

  min-height: 90px;
}

.EventCard h4,
.EventCard p {
  margin: 0;
}

.EventCard .date-box {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;

  font-weight: 900;
  font-size: 1.3rem;
}

.EventCard .info-box {
  width: 70%;
  text-align: left;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EventCard .info-box p {
  font-size: 0.9rem;
  color: #333333;
}

.EventCard .save-box {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Artist Card --------------------------------------- */
.ArtistCard {
  border-radius: 6px;
  background-image: linear-gradient(155deg, #131fa4, #913d88 60%);
  padding: 5px;
  margin-bottom: 0.8rem;
}

.ArtistCard h3,
.ArtistCard h4 {
  margin: 0;
}

.ArtistCard .card-inner {
  background: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  min-height: 90px;
}
