/*
COLORS
#131fa4
#913d88
#481ee1
#5f3193
*/

/* Landing Page ----------------------------------------- */
.LandingPage .brand-statement {
  height: 45vh;
  background-image: url('../images/david-calderon-973699-unsplash.jpg');
  background-color: #8f3c87a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100%;
  background-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6vh;
}

.LandingPage .brand-statement h2 {
  margin: 0;
  font-size: 6rem;
  font-weight: 300;
  color: #ffffff;
  mix-blend-mode: hard-light;
}

.LandingPage .brand-statement h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 15px 0 0;
}

/* Profile Page ----------------------------------------- */
.ProfilePage section {
  background-image: linear-gradient(135deg, #131fa4a1, #913d88a1),
    url('../images/what-the-hex.png');
  background-blend-mode: multiply;
  height: 52vh;
  padding: 4vh 0;
}

.ProfilePage .profile-img {
  width: 275px;
  height: 275px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.ProfilePage .logout-btn {
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
  background-image: linear-gradient(155deg, #131fa4, #913d88);
  color: #ffffff;
  letter-spacing: 1px;
  padding: 12px 0;
  margin: 5vh 0;
}

/* Event Page && Artist Page ----------------------------------------- */
.EventPage,
.ArtistPage {
  height: 82vh;
  overflow: hidden;
}

.EventPage header,
.ArtistPage header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0;
  background-color: #dddddd;
}

.EventPage header input,
.ArtistPage header input {
  width: 70%;
  height: 32px;
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 0;
  border-radius: 5px 0 0 5px;
}

.EventPage header button,
.ArtistPage header button {
  height: 32px;
  width: 30%;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-image: linear-gradient(155deg, #131fa4, #913d88);
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
}

.EventPage .events-filters,
.ArtistPage .artists-filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 20px 0;
  background-color: #dddddd;
  border-bottom: #dddddd;
}

.EventPage .events-filters .filter,
.ArtistPage .artists-filters .filter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #ffffff;

  border: 1px solid #dddddd;
  border-radius: 7px 7px 0 0;
  padding-top: 7px;
}

.EventPage .events-filters .filter.active,
.ArtistPage .artists-filters .filter.active {
  border-top: 7px solid #5f3193;
  border-bottom: 0;
  padding-top: 0;
}

.EventPage .events-count,
.ArtistPage .artists-count {
  display: inline-block;
  background-color: #dddddd;
  border-radius: 20%;
  padding: 0.2rem;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.EventPage .events-collection,
.ArtistPage .artists-collection {
  background-color: #ffffff;
  padding: 10px 20px 0;
  height: 84%;
  overflow-y: scroll;
}

/* Event Show && Artist Show ----------------------------------------- */
.EventShow,
.ArtistShow {
  position: relative;
  padding: 12px 0;
}
.EventShow header,
.ArtistShow header {
  position: absolute;
  top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.EventShow header svg,
.ArtistShow header svg {
  width: 30px;
  height: 30px;
}

.EventShow .back-btn svg > path,
.ArtistShow .back-btn svg > path {
  fill: #5f3193;
}

.EventShow .title-box,
.ArtistShow .title-box {
  padding: 0 60px;
  margin-bottom: 10px;
}

.EventShow h2,
.ArtistShow h2,
.ArtistShow h3,
.ArtistShow h4,
.EventShow p {
  margin: 0;
}

.EventShow .card-collection,
.ArtistShow .card-collection {
  margin-top: 15px;
  overflow-y: scroll;
}

.EventShow .card-collection {
  height: 36vh;
}

.ArtistShow .card-collection {
  height: 64.5vh;
}
