/*
COLORS
#131fa4
#913d88
#481ee1
*/

/* Landing Page ----------------------------------------- */
.LandingPage .brand-statement {
  height: 45vh;
  background-image: url('../images/david-calderon-973699-unsplash.jpg');
  background-color: #8f3c87a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100%;
  background-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6vh;
}

.LandingPage .brand-statement h2 {
  margin: 0;
  font-size: 6rem;
  font-weight: 300;
  color: #ffffff;
  mix-blend-mode: hard-light;
}

.LandingPage .brand-statement h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 15px 0 0;
}

/* Profile Page ----------------------------------------- */
.ProfilePage section {
  background-image: url('../images/what-the-hex.png');
  background-color: #6f1ee17b;
  background-blend-mode: multiply;
  height: 52vh;
  padding: 4vh 0;
}

.ProfilePage .profile-img {
  width: 275px;
  height: 275px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.ProfilePage .logout-btn {
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
  background-image: linear-gradient(155deg, #131fa4, #913d88);
  color: #ffffff;
  letter-spacing: 1px;
  padding: 12px 0;
  margin: 5vh 0;
}
